div {
	border: 1px solid red;
}
/*  contacts section  */

#contact-section{
	text-align: right;
	background-color: #001232;
	color: #ffffff;
	padding: 20px 0;
	font-size: 1em;
}
#contact-section i{
	border: 2px solid #e6cf04;
	border-radius: 50%;
	padding: 5px;
}
#contact-section p{
	margin: 0;
}